
.navbar {
  display: flex;
}

.navbar-content {
  height: 80px;

  text-align: center;
}

#side-header {
  display: flex;

  padding-top: 20px;
}

#side-header div {
  flex: 1;
}

@media (min-width: 1020px) /* VERY SMOL */
{
  .navbar-content {
    flex-direction: row;
    flex: 1;
  }
}

@media (max-width: 1020px) /* VERY SMOL */
{
  .navbar {
    flex-direction: column;
  }

  .navbar-content {
    width: 100%;
  }

  #side-header {
    padding-left: 10%;
    padding-right: 10%;
  }
}



.mybutton {
  padding: 10px 15px;

  border-radius: 30px / 20px;
  border: 2px solid black;

  background-color: white;
  color: black;
}
.mybutton:hover
{
  background-color: black;
  color: white;
}



.page-content
{
    background-color: #cccccc;

    width: 96%;
    min-width: 550px;

    //height: 600px;

    border-radius: 15px;
    border: 4px solid black;

    margin: 2%;

    //margin-left: 5%;
    padding-bottom: 50px;
    margin-bottom: 0;
    overflow: hidden;
}


form input, form select {
  width: 80%;
  min-width: 120px;
  height: 28px;
}

form button {
  width: 80%;
  min-width: 120px;
  height: 28px;

  border-radius: 8px;
}
