#title
{
  width: 100%;
  height: 40px;

  text-align: center;
}
#title img {
  max-width: 400px;
  width: 90%;
}

.nav-content {
  display: inline-block;

  width: 33%;
}

.nav-info {
   display:inline-block;
   vertical-align: top;
}
#side-info {
  margin-left: 10%;
}

@media (max-width: 960px) /* VERY SMOL */
{
  .nav-content {
    width: 100%;
  }
}
