
.navbar {
  display: flex;
}

.navbar-content {
  height: 80px;

  text-align: center;
}

#side-header {
  display: flex;

  padding-top: 20px;
}

#side-header div {
  flex: 1;
}

@media (min-width: 1020px) /* VERY SMOL */
{
  .navbar-content {
    flex-direction: row;
    flex: 1;
  }
}

@media (max-width: 1020px) /* VERY SMOL */
{
  .navbar {
    flex-direction: column;
  }

  .navbar-content {
    width: 100%;
  }

  #side-header {
    padding-left: 10%;
    padding-right: 10%;
  }
}
